@page "/apostas"

@inject IApostasService _apostasService

<h1>Painel de aportes</h1>

<label>
    Profit:
    <input type="number" name="profit" @bind="profit" />
</label>

<label>
    <input type="checkbox" name="overall" @bind="overall" />
    Overall
</label>

<label>
    Initial bet:
    <input type="number" name="initialBet" @bind="initialBet" />
</label>

<label>
    Rate:
    <input type="number" name="rate" @bind="rate" />
</label>

<button class="btn btn-primary" @onclick="RecalcularAposta">Calcular</button>


<hr />
@if (aportes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    if (!aportes.Any())
    {
        <p><em>Nada por aqui!</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Rodada</th>
                    <th>Aporte</th>
                    <th>Banca</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var aporte in aportes)
                {
                    <tr>
                        <td>@aporte.Rodada</td>
                        <td>@aporte.Aporte</td>
                        <td>@aporte.SomatorioAporte</td>
                        <td>@aporte.Chance</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private List<Bet> aportes;
    private decimal profit { get; set; } = 0;
    private decimal initialBet { get; set; } = 0;
    private decimal rate { get; set; } = 0;
    private bool overall { get; set; }

    protected void RecalcularAposta()
    {
        if (rate > 0m)
        {
            aportes = _apostasService.GenerateBetsBook(profit, initialBet, rate, overall);
        }
    }
}
